---
import FormattedDate from '../FormattedDate.astro';

const { title, description, pubDate,timeToRead,tags } = Astro.props;

---
<div class="post-head is-horizontal-align banner merge-header-banner">
    <div class="container-sm-w is-full-width flex f-col">
        <h1 class="font-primary m-b-1" itemprop="name">{title}</h1>
        <h2 class="font-secondry m-b-1" itemprop="abstract">{description}</h2> 
        <ul class="list-none flex m-b-1">
        { tags?.map((tag) => (
            <li>
                <a href="" class="tag">
                    {tag}
                </a>
            </li>
        ))}
        </ul>
        <div class="date-n-read">
            <FormattedDate date={pubDate} /> <span class="delimtr">  ◆ </span>  <span>☕️ {timeToRead} min read</span>
        </div>
    </div>
</div>

<style>
	.post-head {
        padding-bottom: 4rem;
    }
</style>