---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import BlogWrapper from '../components/Blog/BlogWrapper.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../utils/prism/prism.css'; 
import '../utils/prism/prism'; 
type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, timeToRead, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<BlogWrapper title={title} description={description} pubDate={pubDate}  timeToRead={timeToRead} tags={tags}>
				<slot />
			</BlogWrapper>
		</main>
		<Footer />
	</body>
</html>